body {
  padding-top: 10px;
  font-size: 20px;
  line-height: 24.2px;
  text-align: center;
}

.container {
  width: 100%;
}

.food-container {
  display: inline-flex;
  flex-direction: row;
  margin: 31px 10%;
}

.food-img {
  flex-grow: 0;
}

.food-info {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-start;
  margin-left: 5%;
}

.price-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

}

.add-minus {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.add {
  cursor: pointer;
}
.minus {
  cursor: pointer;
}

.add-img2 {
  margin-left: -16px;
}

p {
  font-size: 15px;
  line-height: 16.94px;
  margin: 5px 5px 2px;
}

.food-title {
  font-family: 'Karma';
  font-size: 20px;
  line-height: 29.06px;
  margin: none;
  padding-bottom: 20%;
  text-align: left;
}

.dollar-amount {
  padding-top: 10px;
  text-align: end;
  font-size: 16px;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 31px 10%;
}

.subtotal {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  font-family: 'Inter';
  font-size: 15px;
  height: 27px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 0px 10px;
  cursor: pointer;
}

.order {
  background: rgba(132, 175, 241, 0.53);
}

.clear-all{
  background: #AEB4BC85;
}

.row {
  margin: auto;
  width: fit-content;
}

#image-box{
  min-width: 211px;
  width: 55%;
  padding-bottom: 47px;
}

#header {
  color: #F06C14;
}

#subheader {
  font-style: italic;
}